header, footer, nav, aside {
	background: #2D4650;
	color: #FFFFFF;
	border-style: solid;
  	border-width: 0.3vh;
  	border-color: black;
}

body {
	display:block flex;
	flex-flow: column nowrap;
	position: absolute;
	min-height: 80vh;
	width: 100vw;
	overflow-x: hidden;
}

header {
	display: block;
	height: 6vh;
	min-width: 75vw;
	max-width: 80vw;
	border-left: none;
	border-right: none;
	padding-left: 20vw;
	z-index: 2;
}

footer {
	display: block;
	height: 10vh;
	min-width: 80vw;
	max-width: 85vw;
	/*width: 85vw;*/
	border-left: none;
	border-right: none;
	padding-left: 15vw; 
	padding-bottom: 1vh;
	z-index: 2;
}

footer.register {
	position: absolute;
	bottom: 0%;
}

main {
	display: block;
	padding: 7vh 17vw 7vh 15vw;
	background: #FEFCF5;
	min-height: 69vh;
	min-width: 50vw;
	max-width: 75vw;
}

main.register {
	min-height: 54.1vh;
	padding: 7vh 15vw 21vh 15vw;
}

main.main-page {
	max-width: 100vw;
	overflow-x: hidden;
}

main.chat {
	display:block flex;
    flex-flow: column nowrap;
}

nav {
	border-top: none;
	border-left: none;
	position: absolute;
	left: 0;
	z-index: 1;
	display: block flex;
	float: left;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: stretch;
	margin: 0;
	padding: 7vh 0.25vw 0vh 0.25vw;
	width: 12vw;
	min-height: 90vh;
	height: 91%;
	font-size: 0.9em;
}

#nav-Nerwende {
	height: 93%;
}

nav > ul{
	display: block flex;
	flex-flow: column nowrap;
}

form {
	display: block;
	padding: 10px;
	width: 100%;
}

aside{
  position: absolute;
  right: 0;
  top: 	0;
  z-index: 1;
  float: right;
  border-right: none;
  margin: 0;
  padding: 7vh 0.5vw 1vh 0.5vw;
  font-size: 1em;
  height: 91%;
  width: 14vw;
}

a {
	transition: all  0.5s ease-in-out;
}

a:link {
	color: #B6CFD9;
	text-decoration: none;
}

a:visited {
	color: #B6CFD9;
	text-decoration: none;
}

a:hover {
	border-width: 5px;
	border-color: #2D4650;
	border-radius: 5px;
	background: #B6CFD9; 
	text-decoration: underline;
	color: black;
	padding: 5px;
}

a:active {
	color: #CD65D9;
}

.animated-gif {
	height: 400px;
	widows: auto;
}

.img {
	height: 400px;
}

.character-name {
	font-family: 'Lovers Quarrel', cursive;
	font-size: 2em;
}
input:focus {
	border-color: rgba(82, 168, 236, 0.75);
	box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
}
	
.correct {
	border-color: rgba(68, 191, 68, 0.75);
}
	
.correct:focus {
	border-color: rgba(68, 191, 68, 0.75);
	box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
}
	
.incorrect {
	border-color: rgba(191, 68, 68, 0.75);
}
	
.incorrect:focus {
	border-color: rgba(191, 68, 68, 0.75);
	box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
}
	
.help {
	display: inline-block;
	color: rgb(200, 0, 0);
	margin-left: 20px;
	padding: 2px 4px;
	border: 1px solid #000;
	background-color: #CCC;
	border-radius: 4px;
}

#msg {
	font-size: 1.5em;
	padding: 0px 6px 0px 6px;
	border-radius: 6px;
}

.button {
	border-radius: 4px;
	color: #3E5964;
	background: white;
	margin: 0vh 0.25vw 1vh 0vw;
}

.button:hover {
	box-shadow: 0 0 5px #E6C1F5;
	background: #E6C1F5;
}

textarea {
	transition: all  0.3s ease-in-out;
}

textarea:focus {
	border-color: #2D4650;
}

.msg-box {
	max-width: 55vw;
	border-radius: 5px;
	padding: 1px 5px 1px 5px; 
	box-shadow: 0 0 3px #EFE0F5;
	background: #EFE0F5;
	color: #2D4650;
}

div#conversation {
	display: none;
	padding: 1vh 1vw 1vh 1vw;
	margin: 1vh 1vw 1vh 1vw;
	width: 66.5vw;
	max-height: 50vh;
	overflow-y: scroll;
}

#conversation-form {
	display: none;
	padding: 0vh 1vw 0vh 1vw;
}

#conversation-form > p {
	margin-top: 0.5vh;
}

.msg-sent {
	display: none;
	padding: 2vh 25vw 2vh 25vw;
	color: #0B436B;
}

.msg-error {
	display: block;	
	padding: 1vh 25vw 1vh 25vw;
	color: #0B436B;
	font-size: 1.2em;
}

.msg-txt {
	font-size: 2.5vh;
}

.name {
	font-size: 2vh;
	opacity: 0.9;
}

.time {
	font-size: 1.75vh;
	opacity: 0.65;
}

#inscription-inactive {
	display: block;
}

#inscription-form {
	display: none;
}

#connexion-form {
	display: none;
}

#connexion {
	display: none;
}

@media screen and (max-width: 900px) {
	
	header, footer, nav, aside {
		border-style: solid;
	  	border-width: 5px;
	  	border-color: black;
	  	border-right: none;
	  	border-left: none;
	}

	body {
		min-width: 100vw;
		max-width: 100vw;
		font-size: 95%;
	}

	header {
		min-width: 75vw;
		max-width: 95vw;
		padding: 10px 5px 5px 5px;
	}

	footer {
		height: 60px;
		min-width: 75vw;
		max-width: 95vw;
		padding: 10px 5px 10px 5px;
	}

	main {
		min-width: 75vw;
		max-width: 100vw;
		display: block;
		padding: 2vh 2vw 2vh 2vw;
		overflow-x: hidden;
	}

	main.main-page {
		max-width: 100vw;
		overflow-x: hidden; 
	}

	aside {
		margin: 1vh 1vw 1vh 1vw;
		position: static;
		max-width: 100vw; 
		width: auto;
		height: auto;
		padding: 0.5em;
		border-style: solid;
		border-width: 5px;
	  	border-color: black;
	}

	nav {
		position: static;
		flex-flow: row nowrap;
		justify-content: space-around;
		align-items: stretch;
		width: 95vw;
		min-height: 5vh;
		max-height: 10vh;
		border-bottom: none;
		padding: 10px 5px 10px 5px;
		font-size: 90%;
	}
	
	div#conversation {
		width: 90vw;

	}

	.msg-box {
		max-width: 85vw;
	}

	#conversation-form {
		max-width: 90vw;
	}

	#msg {
		width: 90vw;
	}
}