body { /*Site : fond noir, texte blanc */
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    line-height: 100%;
    color : white;
    background-color : black;
}

header { /* En-tête */
    display : block;
    padding : 8px 8px 17px 8px;
    background: linear-gradient(deepskyblue, dodgerblue);
    color : rgba(0,0,0,.7);
    text-decoration: none;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .7) inset, 
                0 -1px 0 hsl(210, 100%, 32%) inset, 
                0 -2px 0 hsl(210, 100%, 38%) inset, 
                0 -3px 0 hsl(210, 100%, 44%) inset, 
                0 -4px 0 hsl(210, 100%, 50%) inset, 
                0 -5px 0 hsl(210, 100%, 60%) inset;
    transition : all .3s .1s;
} 

header a:hover,
header a:focus {
    background: rgba(255,255,255,.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .7) inset, 
                0 -1px 0 hsl(210, 100%, 42%) inset, 
                0 -2px 0 hsl(210, 100%, 48%) inset, 
                0 -3px 0 hsl(210, 100%, 54%) inset, 
                0 -4px 0 hsl(210, 100%, 60%) inset, 
                0 -5px 0 hsl(210, 100%, 70%) inset;
    padding : 8px 25px 17px 25px; 
    transition : all .3s 0s;
}


.box{
    overflow: hidden;
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 195, 255));
}


.box > .clear{ /* Pour mettre l'autre partie du texte en desous*/
    clear: both;
    height: 0;
    overflow: hidden;
}

.barreNav{/* barre de navigation fixe pour passer d'un chapitre
    à un autre */

    /* forme du bloc */
    display : block;
    width : auto;
    padding : 8px;
    background: linear-gradient(rgb(255, 255, 255), rgb(0, 195, 255));
    padding-top: 25px;
    font-size: 70%;

}

.barreNav div{
    color: rgb(78, 78, 78);
    font-weight: bold;

}

.barreNav a{
    
    font-size: 90%;
    font-weight: normal;
    /*display: block;*/
}
